:root {
  --scrollbar-bg:rgba(0, 0, 0, .15);
  --scrollbar-hover: rgba(0, 0, 0, .25);
}

// 黑夜模式
.dark{
  --scrollbar-bg:rgba(255, 255, 255, .45);
  --scrollbar-hover: rgba(255, 255, 255, .25);
}

/* 修改滚动条样式 */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 2.5px;
  transition: .35s background-color;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}