NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=logos

# 项目名称
NEXT_PUBLIC_APP_NAME =Dream Site
# 副标题
NEXT_PUBLIC_APP_SUB_TITLE =梦开始的地方
# 项目描述
NEXT_PUBLIC_APP_DESC =一个以极简设计呈现的现代化个人导航站，帮助你高效访问常用网站与优质资源。
# 项目关键词
NEXT_PUBLIC_APP_KEYWORDS =Dream Site,极简导航,网站导航,个人站点,书签管理,资源导航,Next.js
# 项目域名
NEXT_PUBLIC_APP_URL =http://localhost:5173
# 版权
NEXT_PUBLIC_COPYRIGHT =白雾茫茫丶
# 网站ICP
NEXT_PUBLIC_ICP =粤ICP备2023007649号
# 网站公网备案
NEXT_PUBLIC_GUAN_ICP =粤公网安备44030402006402号
# Google ID
NEXT_PUBLIC_GOOGLE_ID =
# Clarity ID
NEXT_PUBLIC_CLARITY_ID =